<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Wall</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'login_register/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
        <link rel="stylesheet" href="{% static 'login_register/fonts/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'login_register/css/Footer-Basic.css' %}">
        <link rel="stylesheet" href="{% static 'login_register/css/Good-login-dropdown-menu.css' %}">
        <link rel="stylesheet" href="{% static 'login_register/css/Good-login-dropdown-menu1.css' %}">
        <link rel="stylesheet" href="{% static 'login_register/css/Google-Style-Login.css' %}">
        <link rel="stylesheet" href="{% static 'login_register/css/Navigation-with-Search1.css' %}">
        <link rel="stylesheet" href="{% static 'login_register/css/Pretty-Registration-Form.css' %}">
        <link rel="stylesheet" href="{% static 'login_register/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'login_register/css/Vertical-scroll-box.css' %}">
        <link rel="stylesheet" href="{% static 'login_register/css/Vertical-scroll-box1.css' %}">
    </head>
    <body style="background-color:rgba(114,209,221,0.75);">
        <div>
            <nav class="navbar navbar-default navigation-clean-search" style="background-color:#72d1dd;">
                <div class="container">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="/wall" style="font-size:50px;color:#004f6d;">Bubbles </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="font-size:23px;">Profile <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li role="presentation"><a href="/addBubbles">Add Bubbles</a></li>
                                    <li role="presentation"><a href="/wall">wall</a></li>
                                    <li role="presentation"><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" target="_self">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="search-field"><i class="glyphicon glyphicon-search"></i></label>
                                <input class="form-control search-field" type="search" name="search" placeholder="Search" autocomplete="on" id="search-field" style="background-color:#72d1dd;font-size:18px;">
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div style="max-height:545px;">
            <div class="container">
                <div class="row" style="height:545px;max-height:545px;">
                    <div class="col-md-4" style="max-height:545px;height:545px;width:200px;"></div>
                    <div class="col-md-4" style="height:545px;width:770px;padding:0;">
                        <div id="comment_feed" style="height:545px;min-height:545px;max-height:545px;"></div>
                    </div>
                    <div class="col-md-4" style="height:545px;width:200px;padding-top:15px;padding-bottom:15px;">
                        <div class="bubble" style="width:125px;height:125px;padding:30px;background-image:url('../../static/login_register/img/bubble.png');background-repeat:no-repeat;background-size:cover;display:inline-block;"><img src="{% static 'login_register/img/twitter.png' %}" style="height:auto;width:60px;background-repeat:repeat-x;background-size:auto;"></div>
                        <div class="bubble" style="width:125px;height:125px;padding:25px;background-image:url('../../static/login_register/img/bubble.png');background-repeat:no-repeat;background-size:cover;display:inline-block;"><img src="{% static 'login_register/img/instagram.png' %}" style="height:auto;width:60px;background-repeat:repeat-x;background-size:auto;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-basic" style="background-color:#72d1dd;padding:10px 0px 0px 0px;">
            <footer>
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="copyright">Bubbles © 2016</p>
            </footer>
        </div>
        <script src="{% static 'login_register/js/jquery.min.js' %}"></script>
        <script src="{% static 'login_register/bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>